<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrenxian.manage.persistence.ChatMapper">
  <resultMap id="BaseResultMap" type="com.renrenxian.manage.model.Chat">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="seid" jdbcType="INTEGER" property="seid" />
    <result column="reid" jdbcType="INTEGER" property="reid" />
    <result column="regtime" jdbcType="TIMESTAMP" property="regtime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, seid, reid, regtime, content
  </sql>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
   
    delete from chat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.renrenxian.manage.model.Chat">
    insert into chat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="seid != null">
        seid,
      </if>
      <if test="reid != null">
        reid,
      </if>
      <if test="regtime != null">
        regtime,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seid != null">
        #{seid,jdbcType=INTEGER},
      </if>
      <if test="reid != null">
        #{reid,jdbcType=INTEGER},
      </if>
      <if test="regtime != null">
        #{regtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.renrenxian.manage.model.Chat">
    update chat
    <set>
      <if test="seid != null">
        seid = #{seid,jdbcType=INTEGER},
      </if>
      <if test="reid != null">
        reid = #{reid,jdbcType=INTEGER},
      </if>
      <if test="regtime != null">
        regtime = #{regtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="findlist" resultMap="BaseResultMap" parameterType="map">
    select 
    <include refid="Base_Column_List" />
    from chat t
    where (seid = #{seid} and reid=#{reid}) or (seid=${reid} and reid=${seid})
    order by id desc
    limit #{offset},#{limit}
  </select>
  
  
  <select id="findlistCount" resultType="Long" parameterType="map">
    select count(t.id)
    from chat t
    where (seid = #{seid} and reid=#{reid}) or (seid=${reid} and reid=${seid})
  </select>
  
  
</mapper>